<div class="container">
  <div *ngIf="displayForm" class="card">
    <div class="card-header">

      <div class="title">
        {{ login ? "Login to " : "Register for" }} CryptoPass
      </div>
    </div>
    <div class="content">
      <div class="form-icon" tabindex="0">
        <input type="{{ showPassword ? 'text' : 'password'}}" name="password" placeholder="Enter app passsword" [(ngModel)]="password" (keydown)="checkEnter($event)">
        <i class="fa" [class.fa-eye]="!showPassword"  [class.fa-eye-slash]="showPassword" (click)="togglePasswordVisibility()"></i>
      </div>
    </div>
    <div class="actions">
      <button class="btn btn-primary change-icon" (click)="loginRegister()">
        {{ login ? "Login" : "Register"}}
        <i class="fa fa-lock"></i>
        <i class="fa fa-unlock"></i>
      </button>
    </div>

  </div>
</div>