.container {
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 25%;
  margin-right: 25%;
}
// .header{
//     grid-template-columns: 1fr;
// }
.card-header {
  grid-template-columns: 1fr;
}
.title {
  text-align: left;
}
.content {
  padding: 30px 50px 0px 50px;
  grid-template-rows: 1fr;
}

@media screen and (max-width: 768px) {
  .container {
    margin-left: 5%;
    margin-right: 5%;
  }
  .content {
    padding: 30px 5% 0px 5%;
  }
}
