.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1050;
  /* Sit on top */
  left: 0;
  top: 0;
  padding-top: calc(var(--header-size) + 20px);
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */

.modal-content {
  background-color: #fefefe;
  margin: 6% auto;
  /* 15% from the top and centered */
  padding: 5px 20px 10px 20px; // border: 1px solid #888;
  width: 30%;
  /* Could be more or less, depending on screen size */
  animation-name: animatetop;
  animation-duration: 0.4s
}
/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}
@media screen and (max-width:768px) {
  .modal-content {
    width: 80%;
  }
}

/* The Close Button */

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: lighten(red, 14);
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  display: grid;
  grid-template-columns: 1fr 50px;
  align-items: center;
  justify-items: center;
}

.modal-header .title {
  font-style: var(--heading-font-family);
  font-size: 24px;
  padding: 20px 10px 0px 10px;
}

.modal-body {
  padding: 20px;
}

.add-password-form {
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 20px;
}

.form-group {
  width: 100%;
  display: grid;
}

.form-group input {
  border-radius: 50px;
  border: none;
  background: #f1f1f1;
  padding: 12px;
  transition: 0.4s;
}

.form-group input:focus {
  background-color: #ddd;
  outline: none;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
}
