<div  id="add-password-modal" class="modal">

  <!-- Modal content -->
  <div  class="modal-content">
    <div class="modal-header">
      <div class="title">
        Add Password
      </div>
      <span class="close" (click)="close()">
        <i class="fa fa-times"></i>
      </span>
    </div>

    <div class="modal-body">
      <form class="add-password-form" [formGroup]="addPasswordForm">
          <div class="form-group">
              <input type="text pull-right" name="service" placeholder="Enter service name" formControlName="service">
          </div>
        <div class="form-group">
            <input type="text" name="username"  placeholder="Enter user name / email" formControlName="username">
        </div>
        <div class="form-group">
            <input type="password" name="password"  placeholder="Enter password" formControlName="password">
        </div>

        <button class="btn btn-primary" (click)="emitSave()" [disabled]="addPasswordForm.invalid">
          Save
        </button>
      </form>
    </div>
  </div>

</div>
