:root {
  --light-theme-background-color: #fff;
  --light-theme-text-color: black;
  --dark-theme-background-color: #21252d;
  --dark-theme-text-color: #fff;
  --card-highlight-color: tomato;
  --color-primary: DodgerBlue;
  --color-accent: #FF4081;
  --color-shadow: rgba(0, 0, 0, 0.2);
}

$color-accent: #FF4081;
$color-primary:DodgerBlue;
