/* Styling for header*/

.header {
    background-color: darken($color-primary,10);
    height: var(--header-size);
    width: 100%;
    padding: 20px 20px 10px 20px;
    color: white;
    font-size: 30px;
    font-family: var(--logo-font-family);
    z-index: 999;
    display:grid;
    grid-template-columns: 1fr 200px;
    box-shadow: 0px 5px 5px 1px var(--color-shadow);
  }
  
  .header-fixed {
    top: 0;
    position: fixed;
  }
@media screen and (max-width: 768px){
  .header .btn{
    display: none;
  }
}
  