/* Button and helpers */

.btn {
  text-decoration: none; // box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.2);
  font-family: var(--btn-font-family);
  transition: 0.5s;
  border: none;
  font-size: 16px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  padding: 10px 15px 10px 15px;
}

.btn:active {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
  transform: translateY(2px);
}

.btn:disabled {
  background-color: grey !important;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
  cursor: not-allowed;
  transform: none !important;
}
/* Buttons with rounded corners*/

.btn-round-corners {
  border-radius: 50px;
}

/*Button colors */

.btn-primary {
  background: var(--color-primary);
  color: white;
}

.btn-primary:hover {
  background: darken($color-primary, 10);
}

.btn-accent {
  background: var(--color-accent);
  color: white;
}

.btn-accent:hover {
  background: darken($color-accent, 10);
}

/* Round buttons*/

.btn-round {
  border-radius: 50%;
}

/*fab-icon: round buttons with icons*/
@mixin fab-icon-base($backgroundColor, $color) {
  border-radius: 50%;
  border: none;
  padding: 10px 10px 10px 10px;
  box-shadow: 4px 5px 5px 1px rgba(0, 0, 0, 0.2);
  background-color: $backgroundColor;
  color: $color;
}
@mixin fab-icon-active(){
  box-shadow: none;
  transform: translateY(2px);
}
.fab-icon {
  @include fab-icon-base($color-accent, white);
}
.fab-icon:active {
  @include fab-icon-active();
}
.fab-icon-fixed {
  position: fixed;
  right: 2%;
  bottom: 5%;
  z-index: 500;
}

@mixin fab-icon-on-hover-base($color, $ligtenBy, $transition){
  color: lighten($color, $ligtenBy);
  transition: $transition;
}
@mixin fab-icon-on-hover-state-hover($backgroundColor, $ligtenBy, $color){
  border-radius: 50%;
  background-color: lighten($backgroundColor, $ligtenBy);
  color: $color;
  padding: 10px 10px 10px 10px;
  box-shadow: 4px 5px 5px 1px rgba(0, 0, 0, 0.2);
}
@mixin fab-icon-on-hover-state-active(){
  box-shadow: none;
  transform: translateY(2px);
}